/* Home.css */

/* Apply styles to the container that covers the full screen */
.full-screen-background {
  position: relative;
  width: 100vw;
  height: 110vh;
  overflow: hidden;
}

/* Style the background image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: fill;
  z-index: -1;
}

* Style your content */


/* Your existing styles for content */
.name {
  font-size: 36px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.description {
  font-size: 40px;
  color: #fff; 
  margin-bottom: 20px;
}

.contact {
  font-size: 25px;
  color: #fff; 
  margin-bottom: 8px;
}

a {
  color: mustard;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the profile image */
.profile-image {
  max-width: 100%;
  background-color: rgb(192, 240, 148);
  height: auto;
  margin-bottom: 10px;
}
