/* In Home.css */

.home-container {
  display: flex;
  align-items: center; 
  background-color: #FFDB58;
}

.text-container {
  flex: 1; /* Take up 50% of the available space */
  padding: 20px; /* Adjust as needed */
}

.image-container {
  flex: 1; /* Take up 50% of the available space */
  padding: 20px; /* Adjust as needed */
  text-align: center; /* Center the image horizontally */
}

.profile-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}
